.design9 {
    .module-title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 28px;
        line-height: 179%;
        color: var(--color-title);
        margin-bottom: 6px;
    }
}